@page
@model Net_Tutorial_Website.Pages.CheckoutModel
@{
}

<h1>Checkout</h1>

<form>
    <div>
        <p>
            <div>First Name <input type="text" /></div>
            <div>Last Name <input type="text" /></div>
            <div>E-mail <input type="text" /></div>
            <div>Shipping address <input type="text" /></div>
            <div>
                Payment method:
                <select>
                    <option value="">Card</option>
                    <option value="">Cash</option>
                </select>
            </div>
            <input type="submit" value="Pay" />
        </p>
    </div>
</form>
