@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my shop</h1>
     <a href="/Canvases/Index">
    <input type="button" class="btn btn-primary" style="height:60px; width:100px; background-color: #FFDD93; color: #222831;" value="Browse">
</a>
</div>
